.filters{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: lighter;
}

.filters > div {
    display: flex;
    
    gap: 1rem;
}